@use "../abstracts/variables";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: variables.$color-black;
    font-size: variables.$font-size-medium;
}

h1 {
    font-size: 6rem;
    font-weight: normal;
    line-height: 1.2;
}

h2 {
    font-weight: normal;
    font-size: 3rem;
}

h3 {
    font-weight: normal;
    font-size: variables.$font-size-large;
}

h4 {
    font-weight: normal;
    font-size: variables.$font-size-medium;
}

@media screen and (max-width: variables.$shrink-size) {
    body {
        font-size: variables.$font-size-small;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: normal;
        line-height: 1.2;
    }

    h2 {
        font-weight: normal;
        font-size: 2.5rem;
    }

    h3 {
        font-weight: normal;
        font-size: variables.$font-size-large;
    }

    h4 {
        font-weight: normal;
        font-size: variables.$font-size-small;
    }
}
