@use "../abstracts/variables";

@mixin container {
    max-width: variables.$container-width;
    margin: 0 auto;
}

@mixin card {
    border: 2px solid variables.$color-black;
    background-color: variables.$color-gray-light;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

@mixin static-button-mobile {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-size-large;
}
