@use "../abstracts/variables";

@mixin container {
    max-width: variables.$container-width;
    margin: 0 auto;
}

@mixin card {
    transition: 0.2s all ease-in-out;
    background-color: variables.$color-gray-light;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 1rem 4rem variables.$color-box-shadow;

    &:hover {
        transform: scale(1.01);
    }
}

@mixin static-button-mobile {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-size-large;
}
