@use "sass:color";

$color-white: #fff;

$color-gray-1: #3b506c;
$color-gray-2: #666666;
$color-gray-3: #aaaaaa;
$color-gray-light: #f0f0f0;
$color-gray-lighter: #f8f8f8;
$color-gray-dark: #333333;

$color-black: #161c2d;

$color-primary: #00008b;
$color-primary-dark: color.adjust($color-primary, $blackness: 10%);
$color-primary-light: color.adjust($color-primary, $lightness: 10%);
$color-primary-logo: color.adjust($color-primary, $lightness: 50%);

$color-secondary: #cc5500;
$color-secondary-dark: color.adjust($color-secondary, $blackness: 10%);
$color-secondary-light: color.adjust($color-secondary, $lightness: 10%);

$color-invalid: red;
$color-safe: lightgreen;

$color-box-shadow-dark: rgba($color-black, 0.4);
$color-box-shadow: rgba($color-black, 0.2);
$color-box-shadow-light: rgba($color-black, 0.1);

$container-width: 104rem;

$font-size-extra-small: 1.1rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2.2rem;

$shrink-size: 50rem;
