@use "../../sass/abstracts/variables";

.admin-dashboard {
    padding-bottom: 5em;
    margin: 2rem;

    &__title {
        margin-top: 2rem;
        text-align: center;
    }

    &__subtitle {
        margin-top: 6rem;
    }
}

@media screen and (max-width: variables.$shrink-size) {
    .admin-dashboard {
        margin: 0 2rem;
    }
}
