@use "../sass/abstracts/mixins";
@use "../sass/abstracts/variables";

.admin-analysis-page {
    &__graph-container {
        @include mixins.container;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        background-color: variables.$color-white;
    }
}
