@use "../sass/abstracts/variables";
@use "../sass/abstracts/mixins";

.index-page {
    background-color: variables.$color-white;

    &__split {
        display: flex;
        gap: 2rem;
    }

    &__title {
        font-weight: bold;
        font-size: 4rem;
    }

    &__split-container {
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        width: 100%;
    }

    &__introduction {
        @include mixins.container;

        padding-top: 5rem;
        margin-bottom: 10rem;

        h2 {
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }

    &__text-intro {
        align-self: center;
    }

    &__get-started-btn {
        margin-top: 2rem;
    }

    &__details {
        background-color: variables.$color-primary;
        color: variables.$color-white;
        padding: 5rem 0;
    }

    &__details-container {
        @include mixins.container;
    }

    &__details-row-1 {
        margin: 5rem 0;
    }

    &__faqs {
        padding: 5rem;
    }

    &__features-section {
        background-color: variables.$color-gray-light; // Tailwind's bg-gray-100
        padding: 3rem 0;
    }
    &__features-container {
        @include mixins.container;

        margin: 0 auto;
        padding: 0 1.5rem;
    }

    &__features-title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__features-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    &__feature-card {
        background-color: variables.$color-white;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 1rem 1.5rem variables.$color-box-shadow-light;
        text-align: center;
    }

    &__feature-icon {
        color: variables.$color-primary;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    &__feature-title {
        font-size: variables.$font-size-medium;
        font-weight: bold;
        color: variables.$color-black;
        margin-bottom: 0.5rem;
    }

    &__feature-description {
        color: variables.$color-gray-2; // Tailwind's text-gray-600
        font-size: variables.$font-size-small;
    }
}

@media screen and (max-width: variables.$shrink-size) {
    .index-page {
        &__split {
            flex-direction: column;
            margin: 2rem;
            gap: 5rem;
        }

        &__features-section {
            padding: 5rem 0;
        }

        &__features-grid {
            grid-template-columns: 1fr;
        }
    }
}
