.notification-button {
    position: relative;

    &__notification-count {
        position: absolute;
        right: -1rem;
        top: -1rem;
        background-color: red;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
