@use "../sass/abstracts/mixins";

.application-card {
    @include mixins.card;

    &__response-container {
        margin: 2rem 0;
    }

    &__response {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }

    &__resume-title {
        margin-top: 2rem;
        font-weight: bold;
    }

    &__check-posting-btn {
        margin-top: 2rem;
    }
}
