@use "../sass/abstracts/mixins";
@use "../sass/abstracts/variables";

.navbar {
    @include mixins.container;

    display: flex;
    margin-top: 1rem;

    &__item {
        display: flex;
        flex: 1 1 0px;
        align-items: center;
    }

    &__logo-btn {
        // padding: 3px 1.5rem;
        padding: 0;
    }

    &__justify-left {
        justify-content: flex-start;
        font-size: 3rem;
    }

    &__logo {
        cursor: pointer;
        transition: all 0.4s;
        padding: 8px 2rem;
        border-radius: 5px;

        &:hover {
            background-color: variables.$color-primary;
            color: variables.$color-white;
        }
    }

    &__second-c {
        color: variables.$color-primary-logo;
    }

    &__justify-center {
        gap: 3rem;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    &__link {
        text-decoration: none;
        color: variables.$color-gray-2;
    }

    &__justify-right {
        justify-content: flex-end;
    }
}

@media screen and (max-width: variables.$shrink-size) {
    .navbar {
        margin: 0 2rem;

        &__justify-center {
            display: none;
        }
    }
}
