@use "../sass/abstracts/variables";

.posting-card {
    transition: 0.2s all ease-in-out;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.4rem 1.2rem variables.$color-box-shadow;
    box-sizing: border-box;
    cursor: pointer;
    width: min(90vw, 100rem);
    margin: 3rem auto;
    height: 25rem;

    &:hover {
        transform: scale(1.01);
    }

    &__thumbnail-container {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 20rem;
        background-color: variables.$color-gray-light;
    }

    &__thumbnail {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 1rem 4rem variables.$color-box-shadow;
        width: auto;
        height: auto;
        max-height: 100%;
    }

    &__content {
        box-sizing: border-box;
        padding: 2rem 2rem;
        width: 80rem;
    }

    &__name-container {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__name {
        font-weight: normal;
    }

    &__location {
        color: variables.$color-gray-3;
        font-size: variables.$font-size-small;
        height: 2.3rem;
    }

    &__contact-info {
        display: flex;
        margin-top: 1rem;
        gap: 5rem;
        color: variables.$color-gray-2;
        font-size: variables.$font-size-small;
    }

    &__email {
        i::before {
            transform: translateY(2px);
        }
    }

    &__summary {
        font-size: variables.$font-size-small;
        margin-top: 1rem;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        height: 10rem;
    }

    &__title-container {
        display: flex;
        gap: 2rem;
    }

    &__tags {
        margin-top: 1rem;
        font-size: variables.$font-size-small;
    }

    &__icon-buttons {
        display: flex;
        gap: 1rem;
    }

    &__icon-button {
        font-size: variables.$font-size-small;
        padding: 8px;
    }

    &__extra-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    &__extra-info {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

@media screen and (max-width: variables.$shrink-size) {
    .posting-card {
        flex-direction: column;
        height: fit-content;

        &__thumbnail-container {
            width: 100%;
            min-height: 20rem;
        }

        &__thumbnail {
            max-height: initial;
            max-width: 100%;
        }

        &__content {
            box-sizing: border-box;
            padding: 2rem 2rem;
            width: initial;
        }

        &__summary {
            line-clamp: 3;
            -webkit-line-clamp: 3;
            height: initial;
        }

        &__name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: variables.$font-size-medium;
            font-weight: bold;
        }

        &__title-container {
            flex-direction: column;
            gap: 0;
        }

        &__extra-info {
            gap: 1rem;
        }
    }
}
