@use "../sass/abstracts/variables";

.posting-application {
    width: 50%;

    &__form-input {
        textarea {
            field-sizing: content;
        }
    }
}

@media screen and (max-width: variables.$shrink-size) {
    .posting-application {
        width: 100%;
    }
}
