@use "../sass/abstracts/variables";

.resume-display {
    margin-top: 1rem;
    overflow-y: scroll;
    width: 100%;
    height: 70vh;
    border: 1px solid variables.$color-gray-1;
    background-color: variables.$color-gray-lighter;

    &__resume-page {
        margin: 2rem;
    }
}
